{% load static %}
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'catalog:index' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{% url 'catalog:topic-list' %}" class="nav-link px-2 text-body-secondary">Topics</a></li>
      <li class="nav-item"><a href="{% url 'catalog:redactor-list' %}" class="nav-link px-2 text-body-secondary">Redactors</a></li>
      <li class="nav-item"><a href="{% url 'catalog:newspaper-list' %}" class="nav-link px-2 text-body-secondary">Newspapers</a></li>

    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Newspaper Agency, Inc</p>
  </footer>
</div>
