{% load static %}
<div class="topnav">
  <li style="height: 25px; width: 25px; color: white">{{ user.username }}</li>
  <img src="{% static 'images/favicon.png' %}" alt="" style="height: 25px; width: 25px" class="float-left">
  <a href="{% url 'catalog:index' %}" class="nav-element">Home</a>
  <a href="{% url 'catalog:topic-list' %}" class="nav-element">Topics</a>
  <a href="{% url 'catalog:redactor-list' %}" class="nav-element">Redactors</a>
  <a href="{% url 'catalog:newspaper-list' %}" class="nav-element">Newspapers</a>
  {% if user.is_authenticated  %}
    <a href="{% url 'catalog:redactor-detail' pk=user.id %}" class="nav-element">My profile</a>
    <a href="{% url 'logout' %}" class="nav-element">Logout</a>
  {% else %}
    <a href="{% url 'login' %}" class="nav-element">Log in</a>
  {% endif %}

</div>

